{% extends 'base.html' %}
{% block title %}Edit{% endblock %}
{% block  bread_crumbs %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'employee-edit' object.id %}">Edit {{ object.username }} </a></li>
    </ul>
{% endblock %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u">
            <form class="pure-form pure-form-stacked" method="post" enctype="multipart/form-data">
                <fieldset>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="pure-control-group">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}